body {
    background-image: url("../imagenes/ocontraseña.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:cornflowerblue;
}
.reloj{
    color: rgb(0, 56, 197);
    padding:20 px;
    font-size: 30px;
    text-align: center;
}

.container{
    top:10vh;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 30px 0px #0b5394;
}