body {
    background-image: url("../imagenes/fond.png");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:cornflowerblue;
}

.letra {
    color: rgb(225, 225, 225);
    padding:20 px;
    font-size: 30px;
    text-align: center;
}
.info {
    float: absolute;
    width: 100%;
    padding: 10px;
    background-color: #250e80;
    background-position: center;
    color: white;
  }
  
  .imagenes {
    float: none;
    width: 66%;
    padding: 10px;
    margin: auto; /* agregar esta línea */
  }