body {
    background-image: url("../Edificios/edificioA.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:cornflowerblue;
}

.letra {
    color: rgb(112, 18, 18);
    padding:20 px;
    font-size: 30px;
    text-align: center;
}

/*------------------*/
.info {
    float: left;
    width: 70%;
    padding: 10px;
    background-color: #eee;
    background-position: center;
  }
  .imagenes {
    float: right;
    width: 30%;
    padding: 10px;
  }