body {
    background-image: url("../imagenes/fondo.jpeg");
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:cornflowerblue;
}

.reloj{
    color: #145289;
    padding:20 px;
    font-size: 30px;
    text-align: center;
}

