{% extends 'plantilla.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/estilos6.css')}}">
{% endblock %}

{% block body %}

        <script>
            // Función para mostrar el diálogo de confirmación al hacer clic en el botón de borrar
            function mostrarConfirmacion(id) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: '¡No podrás revertir esto!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, bórralo'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Redirige a la función de eliminación en el servidor
                        window.location.href = `/borrar/${id}`;
                    }
                });
            }
        </script>

       <div class="container">
        <div>
            <a class="btn btn-warning" href=/ConsultorioMedico>  <i class="bi bi-arrow-return-left"></i>  Regresar Inicio</a>
        </div>
        <div>
            <a class="btn btn-warning" href=/RegistroMedico>Registrar Médico  <i class="bi bi-arrow-return-right"></i></a>
        </div>
        <form action=/Consultanombre method="POST">
            <input type="text" name="txtbuscar" placeholder="Buscar por Nombre..." required>
            <button class="btn btn-warning" type="submit">Buscar</button>
        </form>

        <div>
            <a type="button "class="btn btn-primary" href=/ConsultarMedico> Todos los registros </a> 
        <div>
    <table class="table table-light table-hover table_id">
    <thead>
        <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">RFC</th>
            <th scope="col">Correo electronico</th>
            <th scope="col">ROL</th>
            <th scope="col">
            <img  src="{{ url_for('static', filename='/imagenes/actualizar.png') }}" alt="" width="40" height="40">
            </th>
            <th scope="col">
            <img  src="{{ url_for('static', filename='/imagenes/eliminar.png') }}" alt="" width="40" height="40">
            </th>
        </tr>
        </thead>
        <tbody>
            {% for med in listamedico%}
                <tr>
                    <td>{{med.4}}</td>
                    <td>{{med.2}}</td>
                    <td>{{med.3}}</td>
                    <td>{{med.1}}</td>
                    <td>{{med.5}}</td>
                    <td>{{med.7}}</td>
                    <td>
                        <a class="btn btn-warning" href=/editar/{{med.0}}><i class="bi bi-pencil-square"></i> Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" onclick="mostrarConfirmacion('{{ med.0 }}')"><i class="bi bi-trash-fill"></i> Borrar</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}