{% extends 'plantilla.html' %}

{% block customCSS %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/estilos5.css')}}">
{% endblock %}

{% block body %}

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const seleccionarBotones = document.querySelectorAll(".btn.btn-primary");

                seleccionarBotones.forEach((boton) => {
                    boton.addEventListener("click", function(event) {
                        const nombreCompleto = event.target.getAttribute("href").split("=")[1];
                        document.getElementById("paciente").value = decodeURIComponent(nombreCompleto);
                    });
                });
            });
        </script>


        <div class="container mt-4">
            <h1 class="text-center mt-3 mb-3 fw-bold display-1 text-white">Exploración y Diagnóstico</h1>
            <div class="btn-container d-flex justify-content-between mb-4">
                <a class="btn btn-warning" href="/Exploracionpacie">
                    <i class="bi bi-arrow-return-left"></i> Cancelar 
                </a>
            </div>
            <form action="/registrar_exploracion" method='POST'>
                <h2 class="text-center text-white">Exploración</h2>
                <div class="form-row">
                    <div class="col-md-6 text-white">
                        <label for="fecha">Fecha:</label>
                        <input type="date" class="form-control" name="txtfecha" value="{{fecha}}">
                    </div>
                    <div class="col-md-6 text-white">
                        <label for="paciente">Cedula Médico:</label>
                        <input  type"number" class="form-control" name="txtcedulamedico" value="{{ cedula }}" disabled>
                    </div>
                    <div class="col-md-6 text-white">
                        <label for="paciente">No.Paciente:</label>
                        <input type="number" class="form-control" name="txtidpaciente" value="{{  pac.0 }}" readonly>
                    </div>
                    <div class="col-md-6 text-white">
                        <label for="paciente">Nombre Paciente:</label>
                        <input type="text" class="form-control" name="txtnombre" value="{{  pac.2 }}" readonly>
                    </div>
                    <div class="col-md-6 text-white">
                        <label for="paciente">Apellidos Paciente:</label>
                        <input type="text" class="form-control" name="txtapellidos" value="{{  pac.3 }}" readonly>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-md-4 text-white">
                        <label for="peso">Peso (kg):</label>
                        <input type="floatformat" class="form-control" name="peso" id="peso">
                    </div>
                    <div class="col-md-4 text-white">
                        <label for="altura">Altura (cm):</label>
                        <input type="floatformat" class="form-control" name="altura" id="altura">
                    </div>
                    <div class="col-md-4 text-white">
                        <label for="temperatura">Temperatura (°C):</label>
                        <input type="floatformat" class="form-control" name="temperatura" id="temperatura">
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-md-4 text-white">
                        <label for="latidos">Latidos por minuto:</label>
                        <input type="number" class="form-control" name="latidos" id="latidos">
                    </div>
                    <div class="col-md-4 text-white">
                        <label for="saturacion">Saturación de oxígeno (%):</label>
                        <input type="number" class="form-control" name="saturacion" id="saturacion" value="95">
                    </div>
                    <div class="col-md-4 text-white">
                        <label for="glucosa">Glucosa (mg/dL):</label>
                        <input type="floatformat" class="form-control" name="glucosa" id="glucosa">
                    </div>
                </div>
                
                <h2 class="mt-4 text-center text-white">Diagnóstico</h2>
                <div class="form-group text-white">
                    <label for="sintomas">Síntomas:</label>
                    <textarea class="form-control" id="sintomas" name="txtsintomas" rows="3"></textarea>
                </div>
                <div class="form-group text-white">
                    <label for="diagnostico">Dx (Diagnóstico):</label>
                    <input type="text" class="form-control" name="txtdiagnostico" id="diagnostico">
                </div>
                <div class="form-group text-white">
                    <label for="tratamiento">Tratamiento (medicamentos e indicaciones):</label>
                    <textarea class="form-control" id="tratamiento" name="txttratamiento" rows="3"></textarea>
                </div>
                <div class="form-group text-white">
                    <label for="estudios">Solicitud de Estudios:</label>
                    <textarea class="form-control" name="txtsolicitud" id="estudios" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-3 text-end">Guardar Cita</button>
            </form>

            <div class="mt-4">
            </div>
        </div>

{% endblock %}