{% extends 'plantilla.html' %}

{% block customCSS %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/estilos5.css')}}">
{% endblock %}

{% block body %}
      <br>
    <div class="container">
          <div>
              <a class="btn btn-warning" href=/ConsultorioMedico> <i class="bi bi-arrow-return-left"></i>Regresar Inicio</a>
          </div>
          <div>
            <a class="btn btn-warning" href=/ConsultarMedico>Consultar Médico   <i class="bi bi-arrow-return-right"></i></a>
          </div>

          <form action="/RegistrarMedico" method="POST">

            {% with mensajes= get_flashed_messages()%}
               {%if mensajes%}
                  {%for msj in mensajes%}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong> {{msj}} </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <script>Swal.fire(
                      'Usuario Guardado!!',
                      'Verifica en interfaz Consulta de Médico!!',
                      'Creado'
                    )
                  </script>
                  {% endfor %}
               {% endif %}
            {% endwith%}

            <div class="card w-100"  style="width: 18rem;">
              <div class="card-body" >
               <div > 
                <label>Nombre: </label>
                  <input type="text" class="form-control" style="width: 600px;" name="txtNombre" placeholder="Ingrese el nombre correctamente">
                </div>
                <br>
                <div > 
                  <label>Apellidos: </label>
                  <input type="text" class="form-control" style="width: 600px;" name="txtApellido" placeholder="Ingrese apellidos correctamente">
                </div>
                <br>
                <div class="mb-2"> 
                  <label>Cedula del médico: : </label>
                  <input class="form-control" style="width: 600px;" name="txtcedula" placeholder="Ingrese la cedula correctamente ">
                </div>
                  <br>
                <div class="mb-2"> 
                  <label>RFC: </label>
                  <input class="form-control" style="width: 600px;" name="txtrfc" placeholder="Ingrese el RFC correctamente" >
                </div>
                  <br>
                <div class="mb-2">
                  <label>Correo electronico:</label>
                  <input type="email" class="form-control" style="width: 600px;" name="txtcorreo" placeholder="Ingrese un correo de seguridad">
                </div>
                  <br>
                <div class="mb-2">
                  <label>Contraseña:</label>
                  <input type="password" class="form-control" style="width: 600px;" name="txtpass" placeholder="8 caracteres minimo (Recomendado)">
                </div>
                <br>
                <div class="mb-2">
                  <label> Confirma Contraseña:</label>
                  <input type="password" class="form-control" style="width: 600px;" name="txtpassw" placeholder="Introduzca la misma que la anterior">
                </div>
                <br>
                <div class="input-group mb-3" style="width: 600px;">
                  <label class="input-group-text" for="inputGroupSelect01">ROL del Médico</label>
                  <select class="form-select" name="txtrol" id="inputGroupSelect01">
                    <option selected>Elegir...</option>
                    <option value="1">Administrador</option>
                    <option value="2">Médico normal</option>
                  </select>
                </div>
              <div class="text-center">
                <button type="submit"class="btn btn-primary" href="">Registrar</button>
              </div>
            </div>
        </div>
      </form>
    </div>
  {% endblock %}