{% extends 'plantilla.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/estilos3.css')}}">
{% endblock %}

{% block body %}
      {% with mensajes= get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
          <script>
            {% if 'No es administrador' in mensajes %}
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Tu perfil no es administrador',
              })
            {% endif %}
          </script>
        {% endfor %}
      {% endif %}
      {% endwith%}
      <div class="expedientes">
        <a class="btn-a btn-light" href="../Consultorio/epaciente.html">Expedientes de Pacientes</a>
      </div>

      <div class="citas">
        <a class="btn-a btn-light" href="../Consultorio/acita.html">Agendar Citas</a>
      </div>

      <div class="registrarPac">
        <a class="btn-a btn-light" href="../POO181/rpaciente.html">Registrar Pacientes</a>
      </div>

      <div class="diagnostico">
        <a class="btn-a btn-light" href="">Exploración y diagnostico</a>
      </div>

      <div class="consultarcita">
        <a class="btn-a btn-light" href="../POO181/ccita.html">Consultar Citas</a>
      </div>

      <div class="consultarpac">
        <a class="btn-a btn-light" href="../POO181/cpaciente.html">Consultar Pacientes</a>
      </div>
{% endblock %}