{% extends 'plantilla.html' %}

{% block customCSS %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/estilos4.css')}}">
{% endblock %}

{% block body %}
      {% with mensajes= get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
          <script>
            {% if 'No es administrador' in mensajes %}
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Tu perfil no es administrador',
              })
            {% endif %}
          </script>
          <script>
            {% if 'Ingresar medico' in mensajes %}
            Swal.fire({
              position: 'top-center',
              icon: 'success',
              title: 'Bienvenido..!!',
              showConfirmButton: false,
              timer: 1500
            })
            {% endif %}
          </script>
        {% endfor %}
      {% endif %}
      {% endwith%}
    
      <div class="container">
        <a href="/Expedientepaciente">
            <div class="box"> 
                <img src="{{ url_for('static', filename='imagenes/regi.pac.jpeg') }}">
                <div class="capa">
                    <h2>Expediente de Paciente</h2>
                </div>
            </div>
        </a>
        <a href="url_de_la_interfaz_2">
            <div class="box">
                <img src="{{ url_for('static', filename='imagenes/consulta-pacientes.jpeg') }}" alt="">
                <div class="capa">
                    <h2>Consulta de Pacientes</h2>
                </div>
            </div>
        </a>
        <a href="/Exploracion">
            <div class="box">
                <img src="{{ url_for('static', filename='imagenes/exploracion.jpeg') }}" alt="">
                <div class="capa">
                    <h2>Exploración y Diagnóstico de Paciente</h2>
                </div>
            </div>
        </a>
        <a href="url_de_la_interfaz_4">
            <div class="box">
                <img src="{{ url_for('static', filename='imagenes/registro-citas.jpeg') }}" alt="">
                <div class="capa">
                    <h2>Registro de Citas</h2>
                </div>
            </div>
        </a>
    </div>
{% endblock %}