<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Strong>Receta</Strong></title>
</head>
<body>
    <h1><Strong>Datos Exploracion y Diagnostico</Strong></h1>
    <h3>Cedula Médico a cargo: {{pacientes.0.1}}</h2>
    <h3>Fecha de cita: {{pacientes.0.3}}
    <h3>Nombre Paciente: {{pacientes.0.4}}</h2>
    <h3>Apellidos Paciente: {{pacientes.0.5}}</h2>
    <h3>Edad del Paciente: {{edad}}</h2>

    <h2><Strong>Datos de Exploracion</Strong></h2>
    <h2>Peso: {{pacientes.0.6}}</h2>
    <h3>Latidos Por minuto: {{pacientes.0.9}}</h3>
    <h3>Porcentaje de Oxigeno en Glucosa: {{pacientes.0.11}}</h3>
    <h2>Datos de Diagnostico</h2>
    <h3>Síntomas: {{pacientes.0.12}}</h3>
    <h3>Tratamiento Recetado: {{pacientes.0.14}}</h3>
    <h3>Requiere Estudios: {{pacientes.0.15}}</h3>
    
</body>
</html>